{% extends 'base.html' %}
{% block title %}Список поездов{% endblock %}
{% block content %}
<h1>Список поездов</h1>
<div class="row ">
    <div class="col-md-8 mx-auto my-2">
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Откуда</th>
                <th>Куда</th>
                <th>Время в пути</th>
            </tr>
        {% for object in page_obj %}
            <tr>
                <td>
                    <a href="{% url 'detail' pk=object.pk%}">{{object.name}}</a>
                </td>
                <td>{{object.from_city}}</td>
                <td>{{object.to_city}}</td>
                <td>{{object.travel_times}}</td>
                                <td>
                    {% if user.is_authenticated%}
                    <a href="{% url 'delete' pk=object.pk%}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </a>
                    {% endif %} &nbsp;
                </td>
            </tr>


        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% include 'pagination.html' %}